/* styles/globals.css oder app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for Masonry grid */
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to all your item classes for masonry */
  background: white;
  margin-bottom: 15px;
}
