


/* eslint-disable @typescript-eslint/no-unused-vars */
/* postcss/tailwindcss expects these at-rules, even if VSCode doesn't recognize them */

@import "tailwindcss";

/* Custom styles for Masonry grid */
.my-masonry-grid {
  border:3px solid red;
  display: flex;
  margin-left: -15px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px;
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  background: white;
  margin-bottom: 15px;
}

